In [1]:
import sqlite3 
import pandas as pd
import numpy as np
import os
from __future__ import division

In [2]:
os.chdir("/Users/weizheng/Documents/data_science_data/data_mining_assignment2/")

In [34]:
!head -n 1 train_set.csv

In [35]:
!head -n 1 test_set.csv

In [ ]:
#let pandas read csv and determine datatype
df_train = pd.read_csv("train_set.csv")
df_test = pd.read_csv("test_set.csv")

In [37]:
set(df_train.columns) - set(df_test.columns)

{'Claim_Amount'}

In [41]:
df_train.dtypes

Row_ID              int64
Household_ID        int64
Vehicle             int64
Calendar_Year       int64
Model_Year          int64
Blind_Make         object
Blind_Model        object
Blind_Submodel     object
Cat1               object
Cat2               object
Cat3               object
Cat4               object
Cat5               object
Cat6               object
Cat7               object
Cat8               object
Cat9               object
Cat10              object
Cat11              object
Cat12              object
OrdCat             object
Var1              float64
Var2              float64
Var3              float64
Var4              float64
Var5              float64
Var6              float64
Var7              float64
Var8              float64
NVCat              object
NVVar1            float64
NVVar2            float64
NVVar3            float64
NVVar4            float64
Claim_Amount      float64
dtype: object

### 1. how many rows and columns does train_set have? How many rows and columns does test_set have?

In [52]:
print "train_set\nrow: {0}\ncolumn: {1}\n\ntest_set\nrow: {2}\ncolumn: {3}".format(*df_train.shape + df_test.shape)

train_set
row: 13184290
column: 35

test_set
row: 4314865
column: 34

In [ ]:
#use sqlite instead of pandas groupby because of memory limitation
del df_test
del df_train
#load to sqlite and release memoryp
con = sqlite3.connect("allclaim.db")
pd.io.sql.write_frame(df_train, "train_set",con)
df_test.to_sql("test_set", con)
cursor = con.cursor()
#create index 
cursor.execute("create index train_ind on train_set('Household_ID')")
cursor.execute("create index test_ind on test_set('Household_ID')")
#add new features to train set, only row with non_zero claim amount is a claim
sql = "create table train_grouped as select household_id, count(NULLIF(claim_amount,0)) as total_claim_count, sum(claim_amount) as total_claim_amount from train_set " + \
      "group by household_id;"
cursor.execute(sql)
sql = "create table train_with_new_features as " + \
      "select t.*, g.total_claim_count, g.total_claim_amount " + \
      "from train_grouped as g inner join train_set as t on g.household_id = t.household_id;"
cursor.execute(sql)
sql = "create index train_with_new_features_ind on train_with_new_features(household_id);"
cursor.execute(sql)

In [ ]:
#add new features to test set
sql = "create table test_with_new_features as " + \
      "select te.*, tr.total_claim_count, tr.total_claim_amount " + \
      "from test_set as te " + \
      "left outer join train_with_new_features as tr " + \
      "on te.household_id = tr.household_id;"
cursor.execute(sql)
#set total_claim_count, total_claim_amount to 0  
sql = "Update test_with_new_features " + \
      "Set total_claim_count = 0, total_claim_amount = 0 " + \
      "Where total_claim_amount IS NULL;"
cursor.execute(sql)

In [ ]:
#create a copy of test_set
sql = "create table test_with_new_features as " + \
      "select * " + \
      "from test_set;"
cursor.execute(sql)
#add feature columns
sql = "Alter table test_with_new_features Add column total_claim_count INTEGER ;"
cursor.execute(sql)
sql = "Alter table test_with_new_features Add column total_claim_amount REAL ;"
cursor.execute(sql)
#update new features 
sql = "UPDATE test_with_new_features " + \
      "SET " + \
          "total_claim_count = (SELECT total_claim_count FROM train_with_new_features WHERE household_id = test_with_new_features.household_id), " + \
          "total_claim_amount = (SELECT total_claim_amount FROM train_with_new_features WHERE household_id = test_with_new_features.household_id);"
cursor.execute(sql)
sql = "create index test_with_new_features_ind on test_with_new_features(household_id);"
cursor.execute(sql)

### 2. In train_set how many past claims does household 4719940 have? Total claim amount?

In [7]:
sql = "select total_claim_count, total_claim_amount " + \
      "from train_grouped " + \
      "where household_id = 4719940;"
df_4 = pd.read_sql(sql,con)
print "Household 4719940 in train_set\nTotal Number of Claims: {0}\nTotal Claim Amount: {1}".format(*list(df_4.ix[0,:]))

Household 4719940 in train_set
Total Number of Claims: 1.0
Total Claim Amount: 562.4142

### In test_set how many past claims does household 3372413 have? Total claim amount?

In [93]:
sql = "select total_claim_count, total_claim_amount " + \
      "from test_with_new_features " + \
      "where household_id = 3372413;"
df_3 = pd.read_sql(sql,con)
print "Household 3372413 in test_set\nTotal Number of Claims: {0}\nTotal Claim Amount: {1}".format(*list(df_3.ix[0,:]))

Household 3372413 in test_set
Total Number of Claims: 1.0
Total Claim Amount: 1390.159

###  3. How many levels of the categorical variable blind_model exist in the test_set but not in the train_set?

In [80]:
sql = "select distinct(Blind_Model) from train_with_new_features;"
train_lvls = pd.read_sql(sql, con);
sql = "select distinct(Blind_Model) from test_with_new_features;"
test_lvls = pd.read_sql(sql, con);

In [81]:
test_lvls_set = set(test_lvls.Blind_Model.values)
train_lvls_set = set(train_lvls.Blind_Model.values)
lvl_only_in_tst = test_lvls_set - train_lvls_set

In [27]:
lvl_only_in_tst

{u'AF.2',
 u'AG.1',
 u'AI.14',
 u'AI.31',
 u'AI.41',
 u'AI.43',
 u'AI.44',
 u'AI.8',
 u'AI.9',
 u'AL.102',
 u'AL.12',
 u'AL.15',
 u'AL.2',
 u'AL.25',
 u'AL.26',
 u'AL.29',
 u'AL.30',
 u'AL.32',
 u'AL.35',
 u'AL.40',
 u'AL.48',
 u'AL.55',
 u'AL.57',
 u'AL.65',
 u'AL.78',
 u'AL.79',
 u'AL.86',
 u'AL.89',
 u'AN.10',
 u'AN.21',
 u'AN.4',
 u'AO.2',
 u'AP.2',
 u'AR.12',
 u'AR.8',
 u'AR.9',
 u'AU.10',
 u'AY.32',
 u'AY.33',
 u'AY.42',
 u'AY.50',
 u'AY.57',
 u'AY.68',
 u'AZ.20',
 u'AZ.27',
 u'BF.13',
 u'BF.14',
 u'BF.45',
 u'BG.23',
 u'BG.24',
 u'BH.21',
 u'BH.25',
 u'BO.13',
 u'BP.16',
 u'BP.4',
 u'BQ.8',
 u'BT.53',
 u'BT.68',
 u'BT.71',
 u'BT.75',
 u'BU.34',
 u'BU.6',
 u'BU.7',
 u'BW.189',
 u'BW.38',
 u'BW.39',
 u'BY.8',
 u'BY.9',
 u'BZ.1',
 u'BZ.18',
 u'BZ.19',
 u'BZ.3',
 u'BZ.31',
 u'D.14',
 u'D.4',
 u'E.10',
 u'E.18',
 u'E.21',
 u'I.26',
 u'I.27',
 u'I.37',
 u'I.38',
 u'J.11',
 u'J.12',
 u'J.8',
 u'K.41',
 u'K.43',
 u'K.5',
 u'L.22',
 u'L.39',
 u'L.40',
 u'L.47',
 u'L.50',
 u'L.58',
 u'M.5',
 u'M.7',
 u'N.13',
 u'N.14',
 u'N.15',
 u'N.16',
 u'O.21',
 u'O.22',
 u'O.7',
 u'O.8',
 u'P.12',
 u'P.14',
 u'P.17',
 u'P.26',
 u'P.28',
 u'P.4',
 u'P.5',
 u'Q.24',
 u'Q.28',
 u'Q.32',
 u'Q.33',
 u'R.2',
 u'R.3',
 u'R.33',
 u'R.44',
 u'T.2',
 u'X.20',
 u'X.30',
 u'Y.12',
 u'Y.25',
 u'Y.35',
 u'Y.37'}

In [82]:
len(lvl_only_in_tst)

126

### 4. Use Weight of Evidence to fix problematic, high-cardinality categorical variables

In [198]:
sql = "select claim_amount from train_with_new_features;"
all_claims = pd.read_sql(sql, con).values
sql = "select claim_amount from train_with_new_features where blind_model = 'X.45';"
x_45 = pd.read_sql(sql, con).values
sql = "select claim_amount from train_with_new_features where blind_submodel = 'X.45.2';"
x_45_2 = pd.read_sql(sql, con).values
def cal_woe(claims_in_lvl, all_claims):
    """
        given a numpy array, return WOE
    """
    freq_evnt =  sum(claims_in_lvl != 0) / sum(all_claims != 0)
    freq_non_evnt =  sum(claims_in_lvl == 0) / sum(all_claims == 0)
    return np.log(freq_evnt / freq_non_evnt) * 100
woe_x_45 = cal_woe(x_45, all_claims)
woe_x_45_2 = cal_woe(x_45_2, all_claims)
print "WOE\nX_45: {0}\nX_45_2: {1}".format(float(woe_x_45),float(woe_x_45_2))

WOE
X_45: 9.69782946805
X_45_2: 11.5378133717

### 5. Create a balanced training set using oversampling.

In [203]:
#find out how many non-zero values
sql = "select count(row_id) from train_with_new_features where claim_amount <> 0;"
non_zero_count = str(int(pd.read_sql(sql, con).values))
cursor.execute("Create index train_row_ind on train_with_new_features(row_id);")

In [ ]:
#create a temp table since "Order by Random" do not work in a union a query
sql = "create table train_zero_random as " + \
       "Select * from train_with_new_features " + \
           "where claim_amount = 0 " + \
            "Order By RANDOM() " + \
            "Limit " + non_zero_count  + ";"
cursor.execute(sql)
#crate a balanced train table
sql = "Create table train_balanced as " + \
          "Select * from train_zero_random " + \
       "Union " + \
          "select * from train_with_new_features " + \
          "where claim_amount <> 0" 
cursor.execute(sql)

In [230]:
print "Balanced sample count: {0}".format(int(non_zero_count) * 2)

Balanced sample count: 191210